img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
	height: 50px;
	widht: 50px;
	background-color: blue;
	border-color: red;
}
